<%- include('header') %>
<div class="compose">
<form method="POST">
    <label>Title : </label>
<input type="text" name="title">
<textarea name="text"  cols="130" rows="5"></textarea>
<button type="submit">submit </button>
</form>
</div>